APP_NAME=FormaFlow
APP_ENV=local
APP_DEBUG=true
APP_KEY=
FRONTEND_URL=https://app.formaflow.indeveler.ru
TUTOR_DRIVER=mock
TUTOR_BASE_URL=
TUTOR_API_KEY=
VAPID_SUBJECT=mailto:local@formaflow.test
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=formaflow
DB_USERNAME=formaflow
DB_PASSWORD=secret
