/.idea
/vendor
/.env
/bootstrap/cache/*
/bootstrap/cache/
/storage
.phpunit.result.cache
/scripts
/database/database.sqlite
/database/database.sqlite*
/node_modules

!**/.gitkeep
/deploy.log

/auth.json
